* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  min-height: 100%;
  position: relative;

  /* Bottom Padding should be height of
     absolute positioned footer      */
  padding-bottom: 5em;

  padding-top: 2em;
}
