.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-bottom: 2em;
}
.main h1 {
  font-family: var(--playfair-font);
  margin: 20px;
  color: #911d4f;
}
.main p {
  font-family: var(--inter-font);
  margin: 10px;
  font-size: 125%;
}
