.container_100vh {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  position: relative;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 750px;
}
.container {
  width: 100px;
}

.container_artwork {
  position: relative;

  display: grid;
  grid-template-columns: auto auto;
}

.bold {
  font-weight: bold;
}

.grid_item {
  flex: 1;
  width: 100%;
  margin: 2% 0;
  padding: 2%;
  margin: auto;
}

.painting {
  max-width: 100%;
  max-height: 375px;
}
.textBox {
  padding: 5%;
  font-family: var(--inter-font);
}
.instructions {
  font-family: var(--inter-font);
  margin-bottom: 3%;
}
.paintingName {
  margin: 3%;
  font-family: var(--playfair-font);
}

@media (max-width: 640px) {
  .container_artwork {
    grid-template-columns: auto;
  }
}
