.navBar {
  background-color: #cacaca;
  margin-bottom: 4em;
  padding: 1em;
  min-height: 2em;
  position: relative;
  display: flex;
  flex-direction: row;
}
.floralRing {
  width: 120px;
  position: absolute;
  top: -50%;
  background: #fff;
  border-radius: 100%;
  padding: 10px;
}
.menuLine {
  height: 25px;
  margin-left: auto;
  margin-right: 2em;
}

.navBar ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;

  margin-right: calc(-1 * (100vw - 100%) + 4em);
}
.navBar ul li {
  margin: 0 5px;
}
.navbarLink {
  color: black;
  font-family: var(--inter-font);
  font-size: 18px;
}

.active {
  color: #911d4f;
  border-top: 1px solid #911d4f;
}
