.cakeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 2%;
  width: 100%;
}
.cakesHeading {
  margin: 3%;
  font-family: var(--playfair-font);
  text-align: center;
}
